<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common.html :: #header}"> </head>
<body>
<div th:replace="common.html :: #menu"></div>
<div class="container">
    <div class="row"><h2>La liste des propriétés</h2></div>
    <div class="row col-md-8">
        <p>
            <a href="/property/add" class="btn btn-primary btn-sm">Nouvelle propriété</a>
        </p>
        <table class="table table-bordered table-sm">
            <thead>
            <tr>
                <th>Id Propriété</th>
                <th>Adresse</th>
                <th>Type</th>
                <th>Propriétaire</th>
                <th>Date de Vente</th>
                <th>Prix de Vente</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="property : ${properties}">
                <td style="width: 10%" th:text="${property.propertyId}"></td>
                <td th:text="${property.address}"></td>
                <td th:text="${property.propertyType?.name}"></td>
                <td>
                    <span th:text="${property.owner?.firstname}"></span>
                    <span th:text="${property.owner?.lastname}"></span>
                </td>
                <td th:text="${#dates.format(property.saleDate, 'dd/MM/yyyy')}"></td>
                <td th:text="${property.salePrice}"></td>
                <td>
                    <a th:href="@{/property/update/{propertyId}(propertyId=${property.propertyId})}"
                    ><button class="btn btn-info">Modifier</button></a
                    >
                    <a th:href="@{/property/delete/{propertyId}(propertyId=${property.propertyId})}"
                    ><button class="btn btn-danger">Supprimer</button></a
                    >
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="common.html :: #js-script"></div>
</body>
</html>