<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common.html :: #header}">
<body>
<div th:replace="common.html :: #menu"></div>
<div class="container">
    <div class="row">
        <h2>Nouvel Agent</h2>
    </div>

    <div class="row">
        <form th:action="@{/agent/add}" th:object="${agent}" method="post" class="form-horizontal" style="width: 100%">
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">Prénom</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{firstName}" id="firstname" placeholder="Prénom" class="col-4">
                </div>
            </div>

            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Nom</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{lastName}" id="lastname" placeholder="Nom" class="col-4">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" href="/agent/list">Annuler</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Enregistrer">
                </div>
            </div>

        </form>
    </div>

</div>
</body>
</html>